* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
    border: 1px solid;
    margin: 00px;
    border-radius: 30px;
}

.box2 {
    margin: 32px;
    margin: 50px;
    width: 100%;
    padding: 16px;
}

img {
    border-radius: 30px;
    width: 100%;
}

p {
    margin: 10px;
}

button {
    margin: 10px;
    color: white;
    background-color: rgb(47, 47, 94);
    cursor: pointer;
}

.info {
    margin-top: 8px;
}

.title {
    font-size: 22px;
}

.slashed {
    font-size: 15px;
    text-decoration: line-through;
    color: bisque;
    margin-left: 16px;
}

button {
    width: 100%;
}